@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
.projects-page {
  background-color: #edf2f8;
}

.footer {
  background-color: #154353;
}

/* HOME PAGE */
.Home {
  overflow: hidden;
  max-height: 77vh;
}
.home-intro-title {
  font-size: 4rem;
  padding: 1rem 0rem;
  font-weight: bold;
  background: -webkit-linear-gradient(left, #38d39f, #38a4d3);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
.splash {
  position: absolute;
  z-index: -1;
  max-height: 98%;
  top: 0%;
  right: 0%;
}
#plant-left {
  animation: plant 1.5s ease infinite alternate;
}
#plant-right {
  animation: plant 1.5s ease infinite alternate 0.5s;
}
#me {
  animation: me 1s ease infinite alternate;
  transform-origin: bottom;
}
#clock-arrow {
  animation: clock 3s infinite linear;
  transform-box: fill-box;
  transform-origin: bottom;
}

@keyframes me {
  from {
    transform: rotateZ(-5deg);
  }
  to {
    transform: rotateZ(5deg);
  }
}
@keyframes plant {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-30%);
  }
}
@keyframes clock {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
/* Home Page ENDS */

.active {
  background: #2c2c2c;
  color: white;
  padding: 0.3rem 0.5rem;
  border-radius: 1.5rem;
}

/* CONTACT PAGE */
.contact {
  height: 83vh;
}

/* PROJECTS PAGE */
.project-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(322px, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}
.project {
  flex: 1 1 22rem;
  margin: 1rem;
  width: 100%;
}

/* About */
.About-Intro {
  height: 85vh;
}
.About-Pets {
  height: 100vh;
}
.About-Software {
  height: 100vh;
}
.About-Gym {
  height: 105vh;
}
.PetsGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
@media screen and (max-width: 754px) {
  .About {
    padding-top: 2rem;
  }
  .About-Intro {
    height: fit-content;
    display: flex;
    flex-direction: column;
  }
  .Img-Container {
    width: 100%;
    height: 30vh;
  }
  .Img-Container img {
    width: 50%;
  }
  .Intro-Text-Container {
    width: 100%;
  }
  .Intro-Text-Container h1 {
    font-size: 2rem;
    text-align: center;
  }
  .About-Intro-Detail {
    padding: 1rem 0rem;
  }

  /* SOFTWARE SECTION */
  .About-Software {
    height: fit-content;
    display: flex;
    flex-direction: column;
  }
  .About-Software h1 {
    font-size: 3rem;
  }
  .About-Software-Content {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
  .Software-Text {
    width: 100%;
  }
  .Software-Image {
    width: 100%;
  }

  /* FITNESS SECTION */
  .About-Gym {
    height: fit-content;
  }
  .About-Gym-Content {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .About-Gym-Image {
    width: 100%;
    padding: 2rem;
  }
  .About-Gym-Image ul {
    width: 100%;
    font-size: 1.4rem;
  }
  .About-Gym-Text {
    width: 100%;
    padding: 1rem;
  }

  /* PETS */
  .About-Pets {
    height: fit-content;
    flex-direction: column;
    padding: 2rem 0rem;
  }
  .About-Pets-Section1 {
    width: 100%;
  }
  .About-Pets-Section2 {
    width: 100%;
  }
}
@media screen and (max-width: 1200px) {
  .About-Intro {
    height: fit-content;
    display: flex;
    flex-direction: column;
  }
  .Img-Container {
    width: 100%;
    height: 40vh;
  }
  .Img-Container img {
    width: 30%;
  }
  .Intro-Text-Container {
    width: 100%;
  }
  .Intro-Text-Container h1 {
    font-size: 2rem;
    text-align: center;
  }
  .About-Intro-Detail {
    padding: 1rem 0rem;
  }
}
/* ABOUT ENDS */

/* MEDIA QUERIES */
@media screen and (max-width: 754px) {
  .header {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    background-color: #154353;
    color: white;
  }
  .header-links {
    width: 100%;
    padding-top: 0.5rem;
    display: flex;
    font-size: 1.2rem;
  }
  .Logo {
    box-shadow: none;
    color: black;
  }
  /* Footer */

  .splash {
    display: none;
  }

  /*Home */
  .Home {
    padding: 1rem;
    display: flex;
    width: 100%;
  }
  .homeText {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .CodeCircles {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
  }
  .Man-SVG {
    display: none;
  }
  .home-intro-title {
    width: 100%;
    text-align: center;
    font-size: 5rem;
  }

  /*Projects Page */
  .projects-page {
    padding-top: 3rem;
  }

  /*Contact*/
  .contact {
    padding-top: 2rem;
    height: 105vh;
  }
  .Box-Div {
    display: flex;
    flex-direction: column;
  }
  .BOX {
    margin: 1rem;
  }
  form {
    width: 100%;
  }
  .input {
    width: 90%;
  }
  textarea {
    width: 90%;
    height: 20vh;
  }
}
@media screen and (max-width: 1200px) {
  .svgMan {
    display: none;
  }
  .Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100vh;
  }
  .home-intro-title {
    font-size: 3.5rem;
    padding: 0.5rem;
  }
  .home-subtitile {
    font-size: 1.5rem;
  }
  .logo-div {
    width: 100%;
    text-align: center;
  }
  .Logo {
    box-shadow: none;
    color: black;
  }
  .CodeCircles {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
}
